# Core
python-dotenv==1.0.0
Faker==20.1.0

# Database drivers
pyodbc==5.0.1
databricks-sql-connector>=3.1.0

# API
requests==2.31.0

# dbt — Databricks adapter
dbt-core==1.8.9
dbt-databricks==1.8.6

# Fivetran SDK (in case we add a custom connector)
fivetran-connector-sdk>=2.8
